html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(103, 170, 103);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: lightskyblue;
}

.heading :hover {
  color: blueviolet;
  cursor: not-allowed;
}

.cal-body {
  width: 200px;
  height: 300px;
  max-width: 200px;
  max-height: 300px;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 7px;
  background-color: rgb(73, 67, 67);
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 20px rgb(39, 39, 39);
}

.input {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inside-in {
  width: 85%;
  border: none;
  text-align: right;
  background-color: gray;
  padding: 0px 5px;
  font-family: serif;
}

.inside-input1 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.inside-input2 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-all {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.buttons {
  width: 20%;
  height: 75%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: serif;
}

.buttons:hover {
  background-color: rgb(93, 197, 197);
  cursor: pointer;
}

.inside-in:hover {
  cursor: pointer;
}
